common/.project
common/.settings/org.eclipse.core.resources.prefs
common/.settings/org.eclipse.jdt.core.prefs
common/.settings/org.eclipse.m2e.core.prefs
common/.settings/org.eclipse.wst.common.component
common/.settings/org.eclipse.wst.validation.prefs
common/.springBeans
desktop-app/.project
desktop-app/.settings/
desktop-app/src/main/resources/
web-console-app/.project
web-console-app/.settings/.jsdtscope
web-console-app/.settings/org.eclipse.core.resources.prefs
web-console-app/.settings/org.eclipse.jdt.core.prefs
web-console-app/.settings/org.eclipse.m2e.core.prefs
web-console-app/.settings/org.eclipse.wst.common.component
web-console-app/.settings/org.eclipse.wst.jsdt.ui.superType.container
web-console-app/.settings/org.eclipse.wst.jsdt.ui.superType.name
web-console-app/.settings/org.eclipse.wst.validation.prefs
web-console-app/.springBeans
web-console-app/src/main/resources/
web-console-app/src/main/webapp/META-INF/
web-console-app/src/main/webapp/WEB-INF/.gitignore
web-console-app/src/main/webapp/WEB-INF/views/scripts/

